# Installation for Pyspark

In [1]:
!apt-get -y install openjdk-8-jre-headless
!pip install pyspark

# Check Point 1: 0.5 points

'apt-get' 不是內部或外部命令、可執行的程式或批次檔。

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880773 sha256=3f22d1998a0a066a4d3c8c589726c74f601e92eaaafd472abc59d9b7916ce0ca
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\df\88\9e\58ef1f74892fef590330ca0830b5b6d995ba29b44f977b3926
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

#### Start a simple Spark Session

Data Schema

Load the people.json gile, have Spark infer the data types.

#### What are the column names?

['age', 'name']

#### What is the schema?

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

Show whole DataFrame

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Print out the first 2 rows.

Row(age=None, name='Michael')


Row(age=30, name='Andy')

Use describe() to learn about the DataFrame

DataFrame[summary: string, age: string, name: string]

Use another data frame to learn about the statistical report

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

There are too many decimal places for mean and stddev in the describe() dataframe.   
How to deal with it?

+-------+-----+
|summary|  age|
+-------+-----+
|  count| 2.00|
|   mean|24.50|
| stddev| 7.78|
|    min|19.00|
|    max|30.00|
+-------+-----+

Get the mean of age directly

+--------+
|avg(age)|
+--------+
|    24.5|
+--------+

What is the max and min of the Volume column?

+--------+--------+
|max(age)|min(age)|
+--------+--------+
|      30|      19|
+--------+--------+

How many people whose age smaller than 30?

1

+----------+
|count(age)|
+----------+
|         1|
+----------+

**Check Point - 1 point** 

How many people whose age larger than 18?